body {
    margin: 0;
  }
  
  .navbar {
    width: 100%;
    height: 30px;
    padding: 15px 0;
  }
  
  .navbar-title {
    color: white;
    margin-left: 10px;
    line-height: 30px;
  }
  
  .search-box {
    padding: 20px 0;
    display: inline-block;
    width: 50%;
  }
  
  .search-input {
    width: 100%;
    padding: 15px;
  }
  
  .books-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  .books-container > div {
    position: relative;
    width: 310px;
    padding: 5px 5px 45px 5px;
    box-sizing: border-box;
    justify-content: center;
    transition: all .8s;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  .books-container > div:hover {
    transition: all .8s;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 30px 0px;
  }
  .sneaker-image{
    width: 100%;
    height: 280px;
  }
  
  .sneaker-article {
    margin-top: 10px;
    font-weight: bold;
    min-height: 70px;
  }
  .Merk{
    color: #7d7676;
    margin-bottom: 5px;
  }
  .sneaker-value-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sneaker-value-wrapper .price {
    font-size: 18px;
    font-weight: 700;
    color: #009c4d;
  }
  
  
  .detail-show-btn {
    position: absolute;
    bottom: 5px;
    width: calc(100% - 10px);
    height: 38px;
    background-color: #1a202c;
    border: 0;
    font-weight: 700;
    border-radius: 20px;
    color: #fff;
    transition: all .5s;
  }
  .detail-show-btn:hover {
    background: #eaad02;
    transition: all .5s;
  }
  
  .breadcrumbs {
    padding: 0 10%;
    margin-bottom: 0;
    margin-top: 40px;
  }
  p.breadcrumbs {
    color: #909090;
}
  p.breadcrumbs a {
    font-weight: 700;
    color: #1a202c;
}
p.breadcrumbs a:hover {
  color: #eaad02;
  text-decoration: underline;
}
  .sneaker-detail-container {
    display: flex;
    flex-direction: row;
    padding: 20px 10% 0 10%;
  }
  
  .sneaker-detail-cover-wrapper {
    width: 35%;
    height: 400px;
  }
  
  .sneaker-detail-cover-image {
    width: 100%;
    height: 100%;
  }
  
  .sneaker-detail-misc {
    width: 65%;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .sneaker-detail-title {
    font-size: 35px;
    font-weight: 700;
    margin: 0;
  }

  .label-merk {
    background: #ddd;
    color: #1a202c;
    display: inline-block;
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 700;
    font-size: 18px;
    margin: 15px 0;
  }

  /* ================================================ */
  .object-fit-fill {
    object-fit: fill;
  }
  
  .object-fit-contain {
    object-fit: contain;
  }
  
  .object-fit-cover {
    object-fit: cover;
  }
  
  .object-fit-none {
    object-fit: none;
  }
  
  .object-fit-scale-down {
    object-fit: scale-down;
  }
  
  .height-480 {
    height: 480px;
  }

  .Hero-Banner h1 {
    font-size: 42px;
    font-weight: 700;
    max-width: 60%;
    color: #333;
  }
  .Hero-Banner p {
    font-size:18px;
    font-weight: 500;
    color: #333;
    max-width: 60%;
  }

  @media only screen and (max-width:1024px) {
    .Hero-Banner h1 {
      font-size: 24px;
      font-weight: 700;
      max-width: 100%;
      color: #1a202c;
    }
    .Hero-Banner p {
      font-size:16px;
      font-weight: 500;
      color: #1a202c;
      max-width: 100%;
    }
    .books-container > div {
      width: 100%;
    }
    .myfooter .container .row {
      display: block;
      margin: auto 20px;
    }
  }

  @media only screen and (max-width:768px) {
    .search-box {
      padding: 20px 0;
      width: 100%;
    }
    .books-container > div {
      width: 100%;
    }
    .sneaker-detail-container {
      display: block;
    }
    .sneaker-detail-cover-wrapper {
      width: 100%;
      height: auto;
    }
    .sneaker-detail-misc {
      width: 100%;
      padding: 20px 0;
      box-sizing: border-box;
    }
    .sneaker-detail-misc p.sneaker-detail-title{
      font-size: 20px;
    }
    .label-merk {
      background: #ddd;
      color: #1a202c;
      display: inline-block;
      padding: 5px 15px;
      border-radius: 8px;
      font-weight: 700;
      font-size: 14px;
      margin: 15px 0;
    }
  }


  .myfooter h3 {
    font-weight: 700;
    color: #1a202c;
    font-size: 26px;
}


.myfooter ul.links {
    list-style: none;
    margin: 0 0 25px 0;
    padding: 0;
}

.myfooter ul.links li a {
    font-size: 16px;
    overflow: hidden;
    color: #1a202c;
    transition: all .8s;
}

.myfooter ul.links li a:hover {
  text-decoration: underline;
  transition: all .8s;
}

ul.footer-sosial-icon {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.footer-sosial-icon>li:not(:last-child) {
    margin-right: 12px;
}

.footer-sosial-icon a.sosial-icon {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
    font-size: 20px;
    color: #1a202c;
    border: 1px solid #1a202c;
    border-radius: 50%;
    transition: .6s ease;
}

.footer-sosial-icon a.sosial-icon:hover {
    text-decoration: none;
    color: #fff;
    border: 1px solid #1a202c;
    background: #1a202c;
}

.footer-sosial-icon a.sosial-icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer #copyright {
    margin-top: 15px;
    padding: 5px 5px 15px;
    color:#393f49;
    text-align: center;
    font-size: .9em;
}
footer {
  margin-top: 60px;
  background: #d7dee8;
}